<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--以上這個section作用是什麼？沒有好像也正常work-->
  <!-- This section contains the log4net configuration settings -->
  <log4net debug="false">
    <!--輸出到文件type=RollingFileAppender,輸出到控制台type=ConsoleAppender-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />      <!--很關鍵一句，使得日誌檔不被佔用-->
      <file value="logs/" />  <!-- 日誌檔路徑 -->
      <appendToFile value="true" />
      <!--日誌分割方式，Date依據日期每天一個 Size大小，多大一個 Composite混合模式 -->
      <rollingStyle value="Composite" />
      <!--是否只寫入一個檔案-->
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'Log.txt'" /> <!-- 日誌檔名 -->
      <!--保留log檔的數量，超過後，自動刪除之前的（似乎只有依size分割有效？設定值value="-1"為不限-->
      <maxSizeRollBackups value="10" />
      <!-- log檔size，超過後生成新檔 可用單位KB MB GB-->
      <maximumFileSize value="10MB" />
      <!-- layout 控制Appender的輸出格式，也可以是xml,，一個Appender只能是一個layout-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
      <!--<layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff} %-6t %c [%-5p] [%X{Sys}.%X{Subsys}] - %m%n" />
      </layout>-->
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />    <!-- 日誌等級 ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF ,default 為DEBUG-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>

  </log4net>
</configuration>
